version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile.dev
    container_name: auction_backend
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT:-3000}:3000"
    environment:
      - NODE_ENV=development
      - POSTGRES_HOST=postgresql
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_PORT=5432
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - auction_network
    depends_on:
      - postgresql
    command: npm run start:dev

  postgresql:
    image: postgres:15
    container_name: auction_postgresql
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auction_network
  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - "${PGADMIN_PORT}:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    networks:
      - auction_network
    depends_on:
      - postgresql
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    
volumes:
  postgres_data:
  pgadmin_data:
networks:
  auction_network:
    driver: bridge

