version: "3.8"
services:
  postgresql:
    image: postgres:15
    container_name: auction_postgresql
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auction_network
volumes:
  postgres_data:
networks:
  auction_network:
    driver: bridge

